<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
  <head th:replace="~{base :: head}"></head>
  <body>

    <div th:replace="~{base :: logo}"></div>

    <div class="container">
      
      <div th:replace="~{base :: titulo('Formulario')}"></div>

      <div class="card mt-2">
        <form th:object="${pedidoDto}" class="card-body" th:action="@{/pedido/novo}" method="POST">
          <div class="form-group">
            <label for="nomeProduto" >Produto</label>
            <input th:field="*{nomeProduto}" placeholder="Nome do Produto" class="form-control" th:errorclass="is-invalid"/>
            <small>Informar qual o nome do produto</small>
            <div class="invalid-feedback" th:errors="*{nomeProduto}">
              Erro no nome do produto
            </div>
          </div>

          <div class="form-group">
            <label for="urlProduto">URL</label>
            <input th:field="*{urlProduto}" placeholder="Url do Produto" class="form-control" th:errorclass="is-invalid"/>
            <small>Procure em qual site o produto que você deseja e cole a url da página aqui.</small>
            <div class="invalid-feedback" th:errors="*{urlProduto}">
              Erro no nome do produto
            </div>
          </div>

          <div class="form-group">
            <label for="urlImagem">URL Imagem</label>
            <input th:field="*{urlImagem}" placeholder="Url da imagem do Produto" class="form-control" th:errorclass="is-invalid"/>
            <small>Copie a ural de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
            <div class="invalid-feedback" th:errors="*{urlImagem}">
              Erro no nome do produto
            </div>
          </div>

          <div class="form-group">
            <label for="valorNegociado">Valor</label>
            <input th:field="*{valorNegociado}" placeholder="Valor do Produto" class="form-control"/>
            <small>Copie o valor do produto e cole aqui.</small>
            <div class="invalid-feedback" th:errors="*{valorNegociado}">
              Erro no nome do produto
            </div>
          </div>

          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea th:field="*{descricao}" placeholder="Adicione detalhes do Produto importantes que ajudem o comprador" class="form-control"></textarea>
          </div>
          <button class="btn btn-primary mt-3" type="submit">cadastrar</button>
        </form>
      </div>
    </div>
  </body>
</html>