<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{base :: head}"></head>
<body>

  <div th:replace="~{base :: logo}"></div>

  <div class="container">
    
    <div th:replace="~{base :: titulo('Lista de Pedidos')}"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between mb-3">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" th:classappend="${status} == null ? 'active'" href="/pedido/lista">Todos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${status} == 'aguardando' ? 'active'" href="/pedido/lista/aguardando">Aguardando</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${status} == 'aprovado' ? 'active'" href="/pedido/lista/aprovado">Aprovado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${status} == 'entregue' ? 'active'" href="/pedido/lista/entregue">Entregue</a>
          </li>
        </ul>
      </div>
      <a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
    </nav>

    <div class="card mb-5" th:each="pedido : ${pedidos}">

      <th:block th:switch="${pedido.status.name()}">
        <div th:case="APROVADO" class="card-header alert-success" role="alert" th:text="${pedido.nomeProduto}">Nome do produto</div>
        <div th:case="AGUARDANDO" class="card-header alert-warning" role="alert" th:text="${pedido.nomeProduto}">Nome do produto</div>
        <div th:case="ENTREGUE" class="card-header alert-dark" role="alert" th:text="${pedido.nomeProduto}">Nome do produto</div>
      </th:block>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-8 mb-3">
            <div class="row">
              <div class="col-md-5">Valor: <span th:text="${#numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}"></span></div>
              <div class="col-md-6">Data da entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega,'dd/MM/yyyy')}">10/02/2020</span></div>
            </div>
            <div>Produto</div>
            <!--<div><input class="form-control" th:value="${pedido.urlProduto}" value="URL do Produto"/></div>-->
            <div><input class="form-control" th:value="${pedido.urlProduto}" value="URL do Produto"/></div>
            <div>Descrição</div>
            <div><textarea class="form-control" th:text="${pedido.descricao}">Decrição do pedido</textarea></div>
          </div>
          <div class="col-12 col-sm-4">
            <div>
              <img class="img-fluid" style="width: 50%" th:src="${pedido.urlImagem}" src=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>